*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
#conteudo{
   
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
    background-color: #ebebeb;
    height: 700px;
   
}
#conteudo1{
    width: 500px;
    height: 400px;
}
h1{
    font-size: 45px;
    color: #1877F2;
    font-weight: bold;
    
    
}
.paragrafo{
    margin: 10px;
    font-size: 25px;
    
}
.perfil{
   margin-top: 20px;
    background-color: rgba(126, 124, 124, 0.692);
    width: 150px;
    height: 200px;
}
#logins{
   
    display: flex;
    justify-content: space-around;
}
#contuedo2{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}
#conteudo2 ,input{
    border: solid silver 1px;
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 400px;
}
button{
    border: white solid 1px;
    font-size: 20px;
    color: white;
    width: 400px;
    height: 50px;
   background-color:  #1877F2;
}
p a{
    width: 200px;
    text-decoration: none;
   color:  #1877F2;
}
#botao{
    width: 200px;
    margin-top: 20px;
    background-color: green;
}
#b{
    display: flex;
    justify-content: flex-end;
    width: 300px;
}
@media(max-width:460px){
      .perfil{
          width: 100px;
          height: 150px;
      }
      #conteudo2{
          width: 100px;
          border: solid red 1px ;
          display: flex;
          flex-direction: column;
         justify-content: flex-start;
      }
}
@media(max-width:360px)
{
    .perfil{
        width: 100px;
        height: 150px;
    }
    #conteudo2{
        width: 300px;
        height: 300px;
        position: relative;
        bottom: 100px;
        
    }
   #email{
       width: 60%;
     
    }
    #b{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    
    }
    button{
        width: 60%;
 
    }
    form{
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #entra{
       
        width: 300px;
        display: flex;
        justify-content: center;
    }
    #formula{
        
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #conteudo{
        height: 900px;
    }

}
@media(max-width : 680px){
    #conteudo{
        height: 900px;
    }
}
@media(max-width : 900px){
    #conteudo{
        height: 900px;
    }
}
